# Rust
/target

# Flutter
flutter/build/
flutter/.dart_tool/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
# FFmpeg
ffmpeg/

#FEATURES
FEATURES.md

#database
*.db

# IDE
.idea/
.vscode/
.claude/
.agents/

# models
models/

#runs
Runs/

# OS
logs/
Thumbs.db
