# Rust
/target

# Flutter
flutter/build/
flutter/.dart_tool/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
# FFmpeg
ffmpeg/

# IDE
.idea/
.vscode/

# models
models/

# OS
logs/
Thumbs.db
